

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #9a979762;
  }
  
  .heading {
    font-size: 2vw;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
  }
  
 